<div class="row">
  <div class="col-md-6">
    <div class="board__row">
      <div class="board__cards_cels">
        <div class="cel_1">
          <img src="" [alt]="cards.cel1">
        </div>
        <div class="cel_2">
          <img src="" [alt]="cards.cel2">
        </div>
        <div class="cel_3">
          <img src="" [alt]="cards.cel3">
        </div>
        <div class="cel_4">
          <img src="" [alt]="cards.cel4">
        </div>
        <div class="cel_5">
          <img src="" [alt]="cards.cel5">
        </div>
      </div>
    </div>
  </div>
</div>
