<div class="row">
  <div class="col-md-6">
    <div class="board__row">
      <div class="board__cards_cels">
        <div class="cell cel_1">
          <img [src]="cards.cel1" [alt]="cards.cel1">
        </div>
        <div class="cell cel_2">
          <img [src]="cards.cel2?.img" [alt]="cards.cel2">
        </div>
        <div class="cell cel_3">
          <img [src]="cards.cel3?.img" [alt]="cards.cel3">
        </div>
        <div class="cell cel_4">
          <img [src]="cards.cel4?.img" [alt]="cards.cel4">
        </div>
        <div class="cell cel_5">
          <img [src]="cards.cel5?.img" [alt]="cards.cel5">
        </div>
      </div>
    </div>
  </div>
</div>
