<div class="row">
  <div class="col-md-10">

    <div class="playground">
      <div class="row">
        <div class="col-md-2">
          <div class="player1 player_info">
              <app-player-info [player]="player1" ></app-player-info>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

          <app-battleground>
            <ng-container
              class="board"
              *ngFor="let card of cardsMock">
              <p>{{card.alt}}</p>
              <!-- TODO make cards appear on battlegrond -->
              <app-card
                [card]="card">
              </app-card>
            </ng-container>
          </app-battleground>

        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
            <div class="player2 player_info">
              <app-player-info></app-player-info>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
